<section class="header">
	<div class="container">
		<div class="header__wrap">
			<a href="/" class="header__logo">
				<img src="/template/img/logo.jpg" alt="" />
			</a>
			<div class="burger-wrap">
				<div class="burger"></div>
			</div>
			<ul class="header__navigation">
				<li><a href="/articles">{{{translate("Land.News")}}}</a></li>
				<li><a href="/matches">{{{translate("Land.Matches")}}}</a></li>
				<li><a href="/tournaments">{{{translate("Land.Tournaments")}}}</a></li>
				<li><a href="/teams">{{{translate("Land.Teams")}}}</a></li>
				<li><a href="/players">{{{translate("Land.Players")}}}</a></li>
				<li><a href="/portfolios">{{{translate("Land.Media")}}}</a></li>
				<li><a href="/products">{{{translate("Land.Shop")}}}</a></li>
			</ul>
			<div class="header__btns-wrap">
				<a
					href="/manage/profile"
					class="header__btns-profile"
				>
					<img src="/template/img/icons/profile.svg" alt="" />
				</a>
			</div>
		</div>
	</div>
</section>
